.layout {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: max-content 1fr max-content;
}

.header {
  grid-column: 1 / -1;
  grid-row: 1;
}

.main {
  grid-column: 3 / -3;
  grid-row: 2;
}

.footer {
  grid-column: 1 / -1;
  grid-row: 3;
}
