.layout {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: max-content 1fr max-content;
  min-height: 100vh;
}

.header {
  grid-column: 1 / -1;
  grid-row: 1;
  position: fixed;
  width: 100%;
}

.main {
  grid-column: 3 / -3;
  grid-row: 2;
  margin-top: 3rem;
}

.footer {
  grid-column: 1 / -1;
  grid-row: 3;
}
