@import './vendor/normalize';

@import 'variables';

html {
    color: $text-colour;
    font-family: acumin-pro, sans-serif;
    font-size: 100%;
    font-weight: 400;
}

body {
    background-color: $bg-colour;
}
