.hero-image-container {
  display: flex;
  flex-direction: column-reverse;
  grid-column: 1 / -1;
  max-height: 90vh;
  overflow: hidden;
  position: relative;
  z-index: -1;
}

.hero-image {
  flex: 0;
  width: 100%;
}

.strapline-container {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.strapline {
  color: $header-color;
  font-size: 3rem;
  font-weight: 900;
  margin: 0 20%;
  text-align: center;
  text-shadow: 0 0 .5em $black, 0 0 .5em $black, 0 0 .5em $black, 0 0 .5em $black;
}
