*.sw[op]
.nvmrc
.python-version
/.circleci/
/.git/
/.gitignore
/.nvmrc
/Dockerfile
/README.md
/bbp.egg-info/
/bbp/static_build/
/docker-compose.yml
/media/
/node_modules/
/setup.cfg
/staticfiles/
webpack-stats.json
.pre-commit-config.yaml
