[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
"flake8" = "*"
isort = "*"

[packages]
dj-database-url = "*"
django-heroku = "*"
gunicorn = "*"
raven = "*"
scout-apm = "*"
social-auth-app-django = "*"
wagtail = "*"

[requires]
python_version = "3.6"
