[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
"flake8" = "*"
isort = "*"

[packages]
wagtail = "*"
python-dotenv = "*"
gunicorn = "*"
dj-database-url = "*"
psycopg2-binary = "*"
django-heroku = "*"
scout-apm = "*"
raven = "*"

[requires]
python_version = "3.6"
