.header {
  background-color: $header-background-color;
  color: $header-color;
  max-height: $header-height;
  min-height: $header-height;
}

.header-nav-container {
  grid-column: 3 / -3;
  margin: 0;
  padding: 0;
  width: 100%;
}

.header-nav {
  ul {
    align-items: center;
    display: flex;
    list-style: none;
    margin: .75rem 0;
    padding: 0;
  }

  li {
    padding: 0 .5em;

    &:first-child {
      flex-grow: 1;
      font-size: 1.5rem;
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  a {
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;

    &:visited {
      color: currentColor;
    }

    &.active {
      text-decoration: underline;
    }
  }
}
