.layout {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  min-height: 100vh;
}

.header {
  grid-row: 1;
  position: fixed;
  width: 100%;
}

.main {
  grid-row: 2;
  margin-top: $header-height;
}

.footer {
  grid-row: 3;
}
